
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'montserrat', sans-serif;
	color: #3a3f4c;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: initial;
}

a:hover {
	text-decoration: none;
	color: initial;
}

.box {
	border: 1px solid #e5e5f8;
}

.navbar {
	border-bottom: solid 2px #000;
}

.header {
	background-image:  linear-gradient(to right, #f9a11b00, #f9a11b),  url('../images/image2.png');
	min-height: 300px;
}

.head {
	overflow: hidden;
}

.head::after {
	content: '';
	position: absolute;
	width: 90%;
	height: 1px;
	background-color: #e5e5f8;
}

.keyDetails {
	background-color: #f9a11b;
	color: white;
	font-weight: 500;
}

.navIcons {
	font-size: 75%;
	/*color: #f9a11b;*/
	margin-bottom: 1rem;
}

.amount {
	font-size: 200%;
}

.galleryImages {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.galleryImages .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.galleryImages .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media only screen and (max-width: 575px) {

	.imgRow {
		border-bottom: 3px solid #f9a11b;
		background-image: url('../images/image2.png');
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		min-height: 300px;
	}

	.header {
		background-image: none;
	}

	.box {
		border: none;
	}

	.plotSale {
		background-color: #f9a11b;
		color: #fff;
		padding: 5px 10px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		font-weight: 600;
		font-size: 125%;
	}

	.head::after {
		width: 90vw;
		left: 5vw;
	}

	.amount {
		font-size: unset;
	}
}